.circular-progress {
  position: absolute;
  width: 50px;
  height: 50px;
}

.circular-progress-svg {
  transform: rotate(-90deg);
}

.circular-progress-circle {
  fill: transparent;
  transition: stroke-dashoffset 0.5s;
}

.circular-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
